<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shafee - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="https://i.imgur.com/KvEuBiI.png" alt="Shafee Profile Picture">
        <h1>Shafiq ur Rehman</h1>
        <p>DevOps | Cloud | CS Student</p>
    </header>

    <section id="bio">
        <h2>About Me</h2>
        <p>I specialize in cloud computing, automation, and infrastructure management using tools like AWS, Docker, Jenkins, and GitHub. I'm passionate about building efficient systems, streamlining workflows, and constantly learning new technologies.</p>
    </section>

    <section id="work">
        <h2>My Work</h2>
        <div class="project" id="project1">
            <a href="https://github.com/ShafeeJakhro/flask-ci-cd-pipeline" target="_blank">Deployed DevOps Project</a>
        </div>
    </section>

    <footer>
        <p>Contact me at <a href="mailto:shafeeejakhro1090@gmail.com">shafeeejakhro1090@gmail.com</a></p>
    </footer>
</body>
</html>

